In [2]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.datasets import fetch_openml
titanic = fetch_openml('titanic', version=1, as_frame=True)
df = titanic.frame

In [4]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [6]:
df['survived'] = df['survived'].astype('int')

In [20]:
feature1 = 'age'
feature2 = 'survived'
max_depth = 4

def find_splits(data, depth=0, splits=None):
    if splits is None:
        splits = []
    
    if depth >= max_depth or len(data) < 2:
        return splits
    
    error = {}
    for i in range(len(data) - 1):
        avg_x = (data[feature1].iloc[i] + data[feature1].iloc[i + 1]) / 2
        
        above_rows = data[data[feature1] > avg_x]
        below_rows = data[data[feature1] <= avg_x]
        
        if len(above_rows) > 0 and len(below_rows) > 0:
            sse_above = np.sum(np.square(above_rows[feature2] - np.mean(above_rows[feature2])))
            sse_below = np.sum(np.square(below_rows[feature2] - np.mean(below_rows[feature2])))
            total_sse = sse_above + sse_below
            error[avg_x] = total_sse
    
    if error:
        best_split = min(error, key=error.get)
        splits.append(best_split)
        
        # Recursively split BOTH branches
        left_data = data[data[feature1] <= best_split]
        right_data = data[data[feature1] > best_split]
        
        # Continue splitting both sides
        find_splits(left_data, depth + 1, splits)
        find_splits(right_data, depth + 1, splits)
    
    return splits

splitting_points = find_splits(df.copy())
print("Splitting points:", splitting_points)

Splitting points: [np.float64(60.0), np.float64(47.5), np.float64(45.5), np.float64(44.0), np.float64(46.5), np.float64(48.0), np.float64(57.0), np.float64(75.5), np.float64(64.0), np.float64(61.5), np.float64(70.5), np.float64(78.0)]