## Feature Construction

**This is total based on your experience, no mathematics**

In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/refs/heads/main/day45-feature-construction-and-feature-splitting/train.csv')

In [12]:
df = df[['Age', 'Pclass', 'SibSp', 'Parch', 'Survived']]
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [13]:
df = df.dropna()
X  =df.drop(columns=['Survived'])
y = df['Survived']

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
np.mean(cross_val_score(LogisticRegression(), X, y, cv=20, scoring='accuracy'))

np.float64(0.6933333333333332)

### Applying Feature Construction

In [21]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

# Create family_members column
df['family_members'] = df['SibSp'] + df['Parch'] + 1

# Handle potential null values (fill with 1 assuming person is alone if data missing)
df['family_members'] = df['family_members'].fillna(1).astype(int)  # Convert to int after fill

def family_size_count(x):
    try:
        x = int(x)
        if x == 1:
            return 'Alone'
        elif 2 <= x <= 4:
            return 'Small'
        else:
            return 'Large'
    except (ValueError, TypeError):
        return 'Alone'

# Apply the function
df['family_size'] = df['family_members'].apply(family_size_count)

# Convert categorical variables to dummy/indicator variables
X_new = pd.get_dummies(df.drop(columns=['Survived']), drop_first=True)
y_new = df['Survived']

# Calculate cross-validation score
logreg = LogisticRegression(max_iter=1000)  # Increased max_iter for convergence
cv_scores = cross_val_score(logreg, X_new, y_new, cv=20, scoring='accuracy')
print(f"Mean Accuracy: {np.mean(cv_scores):.4f}")
print(f"Standard Deviation: {np.std(cv_scores):.4f}")

Mean Accuracy: 0.7326
Standard Deviation: 0.0863