## Practice Problems

In [7]:
import numpy as np 

import matplotlib.pyplot as plt
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

1. Classify "Pass" or "Fail"

In [ ]:
# Load the data
data = pd.DataFrame({
    'hours_studied': [2, 1, 3, 4, 5],
    'hours_slept': [9, 5, 6, 8, 5],
    'label': ['Fail', 'Fail', 'Pass', 'Pass', 'Pass']
})

# Train the model
model = KNeighborsClassifier(n_neighbors=1)
model.fit(data[['hours_studied', 'hours_slept']], data['label'])

# Make a prediction
prediction = model.predict([[3, 7]])    # Predict method expects a 2D array-like input, where each row represents a single sample.
accuracy = model.score([[3, 12]], ['Pass'])
print(prediction)

['Pass']

2. You’re analyzing data from a marketing campaign. Each row has the following features:
- Age
- Monthly Income (in thousands ₹)
- Time spent on product website (in minutes)
- Label: "Buy" or "NoBuy"

In [ ]:
# Load Data
training_data = [
    [22, 12, 15],
    [25, 18, 25],
    [27, 25, 35],
    [30, 28, 45],
    [35, 30, 20],
    [40, 35, 30],
    [45, 40, 50],
    [38, 36, 22],
    [29, 22, 38],
    [26, 16, 26]
]

training_labels = [
    "NoBuy",
    "NoBuy",
    "Buy",
    "Buy",
    "NoBuy",
    "Buy",
    "Buy",
    "NoBuy",
    "Buy",
    "NoBuy"
]

test_point = [28, 18, 32]

# Making Dataframe 
data = pd.DataFrame(training_data, columns=['Age', 'Income', 'Time on Site'])
data['Label'] = training_labels

model = KNeighborsClassifier(n_neighbors=2)
model.fit(training_data, training_labels)

prediction = model.predict([test_point])
accuracy = model.score([test_point], ['NoBuy'])
print(prediction)

['Buy']

In [27]:
from sklearn.linear_model import LinearRegression

df_advertise = pd.read_csv(r"D:\PYTON PROGRAMMING\PYTHON FILES\Scikit-Learn\Week_1_Basics\advertising.csv")
df_advertise.head()
budget_spent = df_advertise.iloc[:, :3].to_numpy()
x = budget_spent.reshape(-1,3)
y = df_advertise.iloc[:, 3:4].to_numpy()

model = LinearRegression()
model.fit(x, y)
prediction = model.predict(np.array([[200, 50, 30]]))
print(prediction)

[[20.8744113]]

In [21]:
df_advertise.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

## Car Dataset

In [ ]:
df = pd.read_csv(r"D:\PYTON PROGRAMMING\PYTHON FILES\Scikit-Learn\Week_1_Basics\CarPrice.csv")

     horsepower  peakrpm    price
0           111     5000  13495.0
1           111     5000  16500.0
2           154     5000  16500.0
3           102     5500  13950.0
4           115     5500  17450.0
..          ...      ...      ...
200         114     5400  16845.0
201         160     5300  19045.0
202         134     5500  21485.0
203         106     4800  22470.0
204         114     5400  22625.0

[205 rows x 3 columns]

#### Predict the car price based on the horsepower